.progressbar {
  list-style: none;
  width: 100%;
  padding: 0;
  margin-bottom: 34px;
}

.progressbar>li {
  position: relative;
  color: var(--grey-400);
  width: 33.33%;
  text-align: center;
  font-size: 0.625rem;
  line-height: 0.625rem;
}

.progressbar>li:before {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--grey-400);
  position: absolute;
  top: -18px;
  left: calc(50% - 10px);
  z-index: 1;
}

.progressbar>li:after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--grey-400);
  position: absolute;
  top: -12px;
  left: -50%;
}

.progressbar>li:first-child:after {
  width: 0;
}

.progressbar>li.active:before,
.progressbar>li.active:after {
  background-color: var(--red-700);
}

.progressbar>li.active {
  color: var(--red-700);
  font-weight: bold;
}

.progressbar>li.active.passed {
  color: #bfbfbf;
  font-weight: normal;
}